* {
    margin: 0px;
    padding 0px;
}

header {
    position: fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100vw;
    padding: 1em;
    float: left;
}

header nav {
    font-family: 'arial regular';
    font-size: 120%;
    text-align: right;
    margin: 0 5vw 0 0;
    display: flex;
    justify-content: flex-end;
}

header nav a {
    text-decoration: none;
    color: black;
    padding-left: 4px;
    display: block;
    font-size: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
    padding: 3px 10px;
}

header nav a:hover {
    color: orange;
}

@media screen and (min-width:676px) {
    header nav a {
        display: inline-block;
    }
}

.logo img {
    box-sizing: content-box;
    padding-left: 10px;
    width: 10vw;
}


/*Søg bar*/

input[type=text] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* tryk på feltet og det ændre width */

input[type=text]:focus {
    width: 15%;
}


/*Splash billede*/

#splash {
    width: 100%;
    height: 167.2vw;
    background-image: url(img/mobil-portraet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#splash .column_narrow {
    align-items: flex-end;
}

@media screen and (orientation:landscape) and (max-width: 627px) and (min-width: 376px) {
    #splash {
        background-image: url(img/mobile-landscape.jpg);
        height: 59.8vw;
    }
}

@media screen and (orientation: portrait) and (min-width: 376px) {
    #splash {
        background-image: url(img/tablet-portrait.jpg);
        height: 133vw;
    }
}

@media screen and (orientation:landscape) and (min-width: 628px) and (max-width: 1024px) {
    #splash {
        background-image: url(img/tablet-landscape.jpg);
        height: 75vw;
    }
}

@media screen and (orientation:landscape) and (min-width: 1024px) {
    #splash {
        background-image: url(img/desktop.jpg);
        height: 56.25vw;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1025px),
screen and (min-resolution: 192dpi) and (min-width: 1025px) {
    #splash {
        background-image: url('img/desktop-retina.jpg');
    }
}

.forsidetekst {
    text-align: center;
    margin-top: 150px;
}


/***** Skrifter *****/

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 650%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80%;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120%;
}

li {
    display: inline;
    margin-right: 20px;
}


/******** Om seksjon ***********/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
    background-color: whitesmoke;
}

#om .column {
    flex-basis: 400px;
    flex-grow: 1;
    margin-right: 20px;
    /*background-color: rgba(186, 207, 214, 0.5);
    width: 100%;
    box-shadow: 10px 10px 5px #c1e1e6;*/
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
}

#om p {
    padding: 5px;
    color: grey;
}

#video .column {
    flex-grow: 1;
}

#video .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    background-color: whitesmoke;
}

#om h3 {
    font-size: 50px;
    color: grey;
}


/******** Om seksjon slutt ***********/

body {
    background-color: whitesmoke;
}

#produkter .column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    align-items: center;
}

#produkter .medical {
    flex-basis: 300px;
    flex-grow: 1;
    position: relative;
}

.forsidetekst {
    text-align: center;
}

#produkter .medical img {
    height: 250px;
    width: 250px;
}

#produkter .medical h2 {
    text-align: center;
    top: 10px;
    left: 200px;
    width: 100%;
}

#produkter h3 {
    font-size: 50px;
    color: grey;
    margin-left: 5vw;
}


/* kontakt */

#kontakt {
    margin: 0 auto;
}

#kontakt {
    box-sizing: content-box;
}

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

#kontakt p {
    padding-left: 10px;
    color: whitesmoke;
}

#kontakt .column_wide {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-basis: 400px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

#kontakt .column_narrow {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 400px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


/************ burger menu **********/

.container {
    display: inline-block;
    cursor: pointer;
}

#parent .box h2 {
    font-family: sans-serif;
    top: 200px;
    width: 10%;
    font-size: 50px;
    position: absolute;
}

.box a h2 {
    color: black;
    font-size: 30px;
    background-color: white;
    opacity: 0.8;
    text-decoration: none;
}

.box a h2:hover {
    color: orange;
}


/********Billede Fade*************/

.url {
    opacity: 1;
    filter: alpha(opacity=100);
}

.medical img:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.box a {
    text-decoration: none;
}


/*.box:last-child {
    margin: 0;
}*/

.box1 {
    background-image: url(img/looking-for-during-a-dental-checkup-400x400.jpg);
    background-size: cover;
}

.box2 {
    background-image: url(img/medical.jpg);
    background-size: cover;
}

.box3 {
    background-image: url(img/laboratorie.jpg);
    background-size: cover;
}

.box4 {
    background-image: url(img/renrum.jpg);
    background-size: cover;
}

.box5 {
    background-image: url(img/industri.jpg);
    background-size: cover;
}

.box6 {
    background-image: url(img/Sk%C3%A6rmbillede%202017-10-12%20kl.%2009.58.18.png);
    background-size: cover;
}
