/*Navigation*/

* {
    margin: 0px;
    padding 0px;
}

header {
    position: fixed;
    width: 100vw;
    padding: 1em;
    float: left;
}

header nav {
    font-family: 'arial regular';
    font-size: 120%;
    text-align: right;
    margin: 0 5vw 0 0;
    display: flex;
    justify-content:flex-end;
}

header nav a {
    text-decoration: none;
    color: black;
    padding-left: 4px;
    display: block;
    font-size: 80%;
}

header nav a:hover {
    color: orange;
}

@media screen and (min-width:676px) {
    header nav a {
        display: inline-block;
    }
}

#dental .produkt {
    width: 100px;
    margin-bottom: 70px;
    margin-left: 90px;
    flex-wrap: wrap;
    height: 100px;
    margin-left: 90px;
    margin-bottom: 70px;
    text-align: center;
}

#dental .column_narrow {}

>>>>>>>origin/master
/*Navigation dental side*/

#dental .column_narrow nav {
    font-size: 120%;
    text-align: left;
    list-style-type: none;
    margin-top: 35px;
}

#dental .column_narrow nav a {
    color: black;
    display: block;
    padding: 20px 8px;
    text-decoration: none;
    width: 200px;
    background-color: lightblue;
    margin-left: 15px;
}


/*Produkt grid*/

#dental .column_wide {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    justify-content: space-around;
    width: 750px;
}

img {
    width: 100%;
    height: 100%;
}

#dental .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    float: left;
}


/*Logo*/

.logo img {
    box-sizing: content-box;
    padding-left: 10px;
    width: 10vw;
}


/*Søg bar*/

input[type=text] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* tryk på feltet og det ændre width */

input[type=text]:focus {
    width: 15%;
}


/*Splash billede*/

#splash {
    width: 100%;
    height: 167.2vw;
    background-image: url(img/mobil-portraet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#splash .column_narrow {
    align-items: flex-end;
}

@media screen and (orientation:landscape) and (max-width: 627px) and (min-width: 376px) {
    #splash {
        background-image: url(img/mobile-landscape.jpg);
        height: 59.8vw;
    }
}

@media screen and (orientation: portrait) and (min-width: 376px) {
    #splash {
        background-image: url(img/tablet-portrait.jpg);
        height: 133vw;
    }
}

@media screen and (orientation:landscape) and (min-width: 628px) and (max-width: 1024px) {
    #splash {
        background-image: url(img/tablet-landscape.jpg);
        height: 75vw;
    }
}

@media screen and (orientation:landscape) and (min-width: 1024px) {
    #splash {
        background-image: url(img/desktop.jpg);
        height: 56.25vw;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1025px),
screen and (min-resolution: 192dpi) and (min-width: 1025px) {
    #splash {
        background-image: url('img/desktop-retina.jpg');
    }
}

.forsidetekst {
    text-align: center;
    margin-top: 150px;
<<<<<<< HEAD
=======

>>>>>>> origin/master
}


/*Skrifter*/

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 650%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80%;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120%;
}

li {
    display: inline;
    margin-right: 20px;
}

/******** Om seksjon ***********/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#om .column_narrow {
    flex-basis: 400px;
    text-align: center;
}

#om p {
    padding: 5px;
}

#om .column_wide {
    justify-content: center;
}


/******** Om seksjon slutt ***********/


/* kontakt */

#kontakt {
    margin: 0 auto;
}

#kontakt {
    box-sizing: content-box;
}

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#kontakt .column_wide {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-basis: 400px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

#kontakt .column_narrow {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 400px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.footer p {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.7;
    padding: 20px 0px;
    position: absolute;
    background-color: darkgrey;
    width: 100%;
}

.footercolumn {
    padding: 20px 0px;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

#produkter .thumbnail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#produkter .medical {
    flex-basis: 400px;
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.forsidetekst {
    text-align: center;
}

#produkter .medical img {
    height: 350px;
    width: 350px;
}

#produkter .medical h2 {
    text-align: center;
    top: 10px;
    left: 1px;
    width: 100%;
}
